In [1]:
import sys
sys.path.append(r"../../utils")
import numpy as np 
import pandas as pd
from questions_columns import siq, sdq, c_ssrs_intake, c_ssrs, mfq, scared, ATHENS, SAS, sci_af_ca, all_questionarries, suicidal_behavior
from utils import simple_eda, impute_from_column

In [2]:
info_columns = ['id', 'gender', 'redcap_event_name', 'age_child_pre', 'measurement']
id_column = 'id'

In [3]:
df = pd.read_csv(r'../../creating_the_clinic_dataset/preprocessed_data/merged_2021_and_2022.csv', na_values = ' ')

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,44,50,73,84,309,437,442,443,450,457,486,502,540,549,568,728,733,745,747,752,763,801,810,829,882,883,884,885,886,887,888,889,890,891,892,951,989,994,1000,1015,1045,1065,1066,1070,1071,1072,1073,1075,1076,1077,1080,1081,1098,1103,1119,1121,1172,1174,1193,1195,1196,1197,1203,1204,1205,1206,1358,1360,1361,1362,1368,1369,1370,1371,1486,1492,1493,1496,1497,1498,1499,1508,1516,1532,1535,1546) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_intake = df[df.redcap_event_name == 'intake_arm_1']
df_pre = df[df.redcap_event_name == 'pre_treatment_arm_1']
df_5weeks = df[df.redcap_event_name == 'control_5weeks_arm_1']

### creates the time-2 dataframe
##### by taking the pre-treatment measures, and imputing missing data from the 5-weeks measurement

In [5]:
time2 = pd.merge(df_pre, df_5weeks, on=['id'], how='outer', suffixes=('', '_5weeks'))

In [6]:
for column_name in all_questionarries:
    time2 = impute_from_column(time2, impute_to = column_name, impute_from = f'{column_name}_5weeks')

### combine intake & time 2 dataframes
##### taking only the needed columns 
##### writing which one is which

In [7]:
df_intake['measurement'] = 'time1'
time2['measurement'] = 'time2'

df_intake = df_intake[info_columns + all_questionarries]
time2 = time2[info_columns + all_questionarries]

C:\Users\nogur\AppData\Local\Temp/ipykernel_8900/735682034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_intake['measurement'] = 'time1'
C:\Users\nogur\AppData\Local\Temp/ipykernel_8900/735682034.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  time2['measurement'] = 'time2'

In [8]:
df_for_research = pd.concat([df_intake, time2])

In [10]:
df_for_research.to_csv("df_for_research.csv", index=False)

In [11]:
df_for_research[suicidal_behavior]

,suicidal_behavior_last_11_clin,suicidal_behavior_last_12_clin,suicidal_behavior_last_13_clin,suicidal_behavior_last_14_clin,suicidal_behavior_last_15_clin
114,NaN,NaN,NaN,NaN,NaN
117,NaN,NaN,NaN,NaN,NaN
119,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
319,0.0,0.0,0.0,0.0,0.0
320,NaN,NaN,NaN,NaN,NaN
321,NaN,NaN,NaN,NaN,NaN
322,0.0,0.0,0.0,0.0,0.0
323,0.0,0.0,0.0,0.0,0.0