In [1]:
import sys
sys.path.append('../../../')
import pandas as pd
from source.utils.consts.questions_columns import sci_af_ca, mfq, sdq, c_ssrs_intake, siq, cgi

In [2]:
redcap_event_names = [
#    'intake_arm_1',
    'control_6month_arm_1',
    'pre_treatment_arm_1',
    '5th_session_arm_1',
    'post_treatment_arm_1',
    'followup_3month_arm_1',
    'control_3month_arm_1',
    'control_5weeks_arm_1',
#    'corona_arm_1',
#    'er_arm_1',
    'followup_12month_arm_1',
    'er_one_week_arm_1',
    'control_12month_arm_1', 
    'control_9month_arm_1'
]

In [3]:
df = pd.read_csv(r"C:\Users\nogur\Documents\DeppClinic\Data\processed_data\survival_analysis_20_3\data_patient_axis.csv")

info_columns = ['gender', 'id', 'age_child_pre', 'group_intake', 'suicide_attempt_intake_intake']

C:\Users\nogur\AppData\Local\Temp\ipykernel_11036\1449648998.py:1: DtypeWarning: Columns (143,1227,1271,1300,1301,1367,1368) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\nogur\Documents\DeppClinic\Data\processed_data\survival_analysis_20_3\data_patient_axis.csv")

In [4]:
df.shape

(617, 1695)

In [5]:
 def parse_datetime(date_str): #convert_datetime
    try:
        return pd.to_datetime(date_str)
    except ValueError:
        try:
            return pd.to_datetime(int(date_str))
        except ValueError:
            try:
                return pd.to_datetime(date_str.split(" ")[0], errors='coerce')
        
            except AttributeError:
                return pd.NaT

## Intake time

In [6]:
pd.to_datetime(parse_datetime("15/12/2020"))

C:\Users\nogur\AppData\Local\Temp\ipykernel_11036\3326314597.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date_str)

Timestamp('2020-12-15 00:00:00')

In [7]:
df["intake_date"] =  df["sciafca_timestamp_intake"].apply(parse_datetime)
info_columns.append("intake_date")

## Attempt

In [8]:
time2_visit_date_dates = [f"visit_date_stu_{event}" for event in redcap_event_names]
time2_is_attempt = [f"survival_analysis_target_{event}" for event in redcap_event_names]
time2_is_missing = [f"ratio_of_missing_survival_analysis_target_values_{event}" for event in redcap_event_names]

In [9]:
for visit_date, is_attempt in zip(time2_visit_date_dates, time2_is_attempt):
    # print(df[is_attempt].sum())
    # print(f"{df[time2_is_missing].min() == 1 }")
    df.loc[df[is_attempt] != 1, visit_date] = pd.NaT
    df[visit_date] = df[visit_date].apply(parse_datetime)
    df["is_missing_target"] = (df[time2_is_missing].min(axis=1) == 1)

C:\Users\nogur\AppData\Local\Temp\ipykernel_11036\3497349525.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NaT' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df[is_attempt] != 1, visit_date] = pd.NaT
C:\Users\nogur\AppData\Local\Temp\ipykernel_11036\3497349525.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NaT' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df[is_attempt] != 1, visit_date] = pd.NaT

In [10]:
df["suicide_attempt_date_target"] = df[time2_visit_date_dates].min(axis=1)
info_columns.append("suicide_attempt_date_target")
info_columns.append("is_missing_target")

## Save

In [11]:
scores = ['mfq_score_intake',
          'SDQ_Conduct_intake',
          'SDQ_Emo_intake',
          'SDQ_Hyper_intake',
          'SDQ_Peer_intake',
          'SDQ_Externalizing_intake',
          'SDQ_Internalizing_intake',
          'sdq_score_intake',
          'c_ssrs_intake_life_stb_intake',
          'c_ssrs_intake_life_idea_intake',
          'c_ssrs_intake_2weeks_stb_intake',
          'c_ssrs_intake_2weeks_idea_intake',
          'c_ssrs_intake_recent_stb_intake',
          'c_ssrs_intake_recent_idea_intake',
          'siq_score_intake']

In [12]:
questions = sci_af_ca + mfq + sdq + c_ssrs_intake + siq + cgi
questions_intake = [f"{q}_intake" for q in questions]
columns = info_columns + time2_visit_date_dates + scores + questions_intake

In [13]:
df[columns].to_csv(r"C:\Users\nogur\Documents\DeppClinic\Data\processed_data\survival_analysis_20_3\processed_data_for_survival_analysis_20_3.csv", index = False)
df[columns].to_csv(r"C:\Users\nogur\Documents\DeppClinic\source/projects/survival_analysis_data/processed_data_for_survival_analysis_20_3.csv", index = False)

In [14]:
(df[time2_is_missing].min(axis=1) == 1)

0      False
1      False
2      False
3      False
4      False
       ...
612     True
613     True
614     True
615     True
616     True
Length: 617, dtype: bool

In [15]:
id_missing_sci = df.query('ratio_of_missing_sci_af_ac_values_intake == 1')
id_existing_sci = df.query('ratio_of_missing_sci_af_ac_values_intake < 1')

In [16]:
id_missing_sci.to_csv('id_missing_sci_af_ca_intake.csv', index=False)

In [17]:
df_demographic = pd.read_csv(r"C:\Users\nogur\Documents\DeppClinic\Data\processed_data\survival_analysis_20_3\data_patient_axis_demographics.csv")

In [18]:
relevant_demographics = df_demographic[df_demographic.id.isin(id_existing_sci.id)]

In [19]:
relevant_demographics

,id,gender,redcap_event_name,age_child_pre,parents_born_m_intake,parents_born_2_m_intake,born_child_m_intake,born_child_2_m_intake,parent_religion_m_intake,parent_religion_other_m_intake,parents_economy_m_intake,parents_education_m_intake,parents_education_other_m_intake,parents_work_m_intake,paresnts_work_2_m_intake,together_live_m_intake,group_intake,visit_date_stu_intake,sciafca_timestamp_intake
15,E5541,2.0,intake_arm_1,12.0,1.0,NaN,1.0,NaN,1.0,NaN,3.0,4.0,NaN,1.0,מהנדסת תעשייה וניהול,2.0,control,2022-03-06,2022-02-07 13:45:21
19,Y4863,2.0,intake_arm_1,16.0,2.0,אוקראינה,1.0,NaN,1.0,NaN,2.0,4.0,NaN,1.0,אחות מוסמכת,1.0,ipt,1644303038000000000,2022-02-08 06:50:38
20,L7829,2.0,intake_arm_1,16.0,2.0,בלרוס,1.0,NaN,1.0,NaN,3.0,5.0,NaN,1.0,אחות,1.0,ipt,1644859883000000000,2022-02-14 17:31:23
21,N7245,1.0,intake_arm_1,9.0,2.0,אירן,1.0,NaN,4.0,NaN,2.0,4.0,NaN,1.0,מורה,1.0,ipt,1644867071000000000,2022-02-14 19:31:11
22,I8857,2.0,intake_arm_1,14.0,1.0,NaN,1.0,NaN,1.0,NaN,2.0,3.0,NaN,2.0,יועצת עצמאית בתחום ההגירה לקנדה,1.0,ipt,1645360089000000000,2022-02-20 12:28:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,Y8148,2.0,intake_arm_1,15.0,2.0,????????,1.0,NaN,1.0,NaN,3.0,2.0,NaN,1.0,????? ?????,2.0,ipt,1642704954000000000,2022-01-20 18:55:54
601,L5416,2.0,intake_arm_1,15.0,2.0,???????,1.0,NaN,1.0,NaN,3.0,2.0,NaN,1.0,?? ???,1.0,ipt,1643646325000000000,2022-01-31 16:25:25
602,S6156,3.0,intake_arm_1,15.0,1.0,NaN,1.0,NaN,1.0,NaN,2.0,4.0,NaN,1.0,מזכירה,2.0,ipt,1645283124000000000,2022-02-19 15:05:24
603,D1313,2.0,intake_arm_1,15.0,1.0,NaN,1.0,NaN,3.0,NaN,4.0,2.0,NaN,1.0,????? ???????????,1.0,ipt,1643633764000000000,2022-01-31 12:56:04
604,J2171,1.0,intake_arm_1,15.0,1.0,NaN,2.0,NaN,1.0,NaN,3.0,4.0,NaN,1.0,????,2.0,ipt,1643638895000000000,2022-01-31 14:21:35

In [21]:
relevant_demographics.to_csv(r"C:\Users\nogur\Documents\DeppClinic\Data\processed_data\survival_analysis_20_3\demographics_survival_analysis_20_3.csv", index = False)
relevant_demographics.to_csv(r"C:\Users\nogur\Documents\DeppClinic\source/projects/survival_analysis_data/demographics_survival_analysis_20_3.csv", index = False)