In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("DeppClinic_prediction_task.csv")

In [7]:
SAS = [
    'sas_1',
    'sas_2',
    'sas_3',
    'sas_4',
    'sas_5',
    'sas_6',
    'sas_7',
    'sas_8',
    'sas_9',
    'sas_10',
    'sas_11',
    'sas_12',
    'sas_13',
    'sas_14',
    'sas_15',
    'sas_16',
    'sas_17',
    'sas_18',
    'sas_19',
    'sas_20',
    'sas_21',
    'sas_22',
    'sas_23'
]

In [8]:
df[SAS]

,sas_1,sas_2,sas_3,sas_4,sas_5,sas_6,sas_7,sas_8,sas_9,sas_10,...,sas_14,sas_15,sas_16,sas_17,sas_18,sas_19,sas_20,sas_21,sas_22,sas_23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,1.0,2.0,3.0,1.0,2.0,3.0,3.0,2.0,3.0,2.0,...,1.0,2.0,3.0,2.0,1.0,1.0,1.0,1.0,5.0,2.0
734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
736,2.0,4.0,5.0,4.0,4.0,5.0,3.0,4.0,5.0,4.0,...,3.0,4.0,5.0,5.0,3.0,3.0,4.0,4.0,5.0,2.0