In [30]:
import pandas as pd
import pandas_profiling as pp
import dtale
import seaborn as sns
from quesionairres_jupyter.utils import simple_eda, impute_from_column
from quesionairres_jupyter.consts.questions_columns import siq, sdq, c_ssrs_intake, c_ssrs, mfq, scared, ATHENS, SAS, sci_af_ca

In [31]:
df = pd.read_csv(r'../creating_the_clinic_dataset/preprocessed_data/merged_2021_and_2022.csv', na_values = ' ')
all_questionarries = siq + sdq + c_ssrs_intake + c_ssrs + mfq + scared + ATHENS + SAS + sci_af_ca

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning:

Columns (0,44,50,73,84,309,437,442,443,450,457,486,502,540,549,568,728,733,745,747,752,763,801,810,829,882,883,884,885,886,887,888,889,890,891,892,951,989,994,1000,1015,1045,1065,1066,1070,1071,1072,1073,1075,1076,1077,1080,1081,1098,1103,1119,1121,1172,1174,1193,1195,1196,1197,1203,1204,1205,1206,1358,1360,1361,1362,1368,1369,1370,1371,1486,1492,1493,1496,1497,1498,1499,1508,1516,1532,1535,1546) have mixed types.Specify dtype option on import or set low_memory=False.

In [37]:
import matplotlib.pyplot as plt
plt.hist(df.age_child_pre_first)

AttributeError: 'DataFrame' object has no attribute 'age_child_pre_first'

In [13]:
additional_columns = ['id', 'gender', 'redcap_event_name', 'age_child']
all_columns = additional_columns + all_questionarries

In [14]:
df_intake = df[df.redcap_event_name == 'intake_arm_1'][all_columns]
df_pre = df[df.redcap_event_name == 'pre_treatment_arm_1'][all_columns]
df_5weeks = df[df.redcap_event_name == 'control_5weeks_arm_1'][all_columns]

In [29]:
(1 - df.groupby('id').age.count()).sum()

62

In [15]:
merged = pd.merge(df_pre, df_5weeks, on=['id'], how='outer', suffixes=('', '_5weeks'))

In [22]:
merged.query("id == 'A4614'")

,id,gender,redcap_event_name,age_child,siq_1,siq_2,siq_3,siq_4,siq_5,siq_6,...,sci_af_ca_31_5weeks,sci_af_ca_32_5weeks,sci_af_ca_33_5weeks,sci_af_ca_34_5weeks,sci_af_ca_35_5weeks,sci_af_ca_36_5weeks,sci_af_ca_37_5weeks,sci_af_ca_38_5weeks,sci_af_ca_39_5weeks,sci_af_ca_40_5weeks
265,A4614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_pre.query("id == 'A4614'")

Empty DataFrame
Columns: [id, gender, redcap_event_name, age_child, siq_1, siq_2, siq_3, siq_4, siq_5, siq_6, siq_7, siq_8, siq_9, siq_10, siq_11, siq_12, siq_13, siq_14, siq_15, sdq_1, sdq_2, sdq_3, sdq_4, sdq_5, sdq_6, sdq_7, sdq_8, sdq_9, sdq_10, sdq_11, sdq_12, sdq_13, sdq_14, sdq_15, sdq_16, sdq_17, sdq_18, sdq_19, sdq_20, sdq_21, sdq_22, sdq_23, sdq_24, sdq_25, c_ssrs_1_life, c_ssrs_2_life, c_ssrs_3_life, c_ssrs_4_life, c_ssrs_5_life, c_ssrs_6_life, c_ssrs_1_2weeks, c_ssrs_2_2weeks, c_ssrs_3_2weeks, c_ssrs_4_2weeks, c_ssrs_5_2weeks, c_ssrs_6_2weeks, c_ssrs_6_3month, c_ssrs_7_intake, c_ssrs_8_intake, c_ssrs_1, c_ssrs_2, c_ssrs_3, c_ssrs_4, c_ssrs_5, c_ssrs_6, c_ssrs_last_visit_6, c_ssrs_7, c_ssrs_8, mfq_1, mfq_2, mfq_5, mfq_7, mfq_8, mfq_14, mfq_21, mfq_23, mfq_24, mfq_27, mfq_28, mfq_30, mfq_31, mfq_34, mfq_35, mfq_36, mfq_37, scared_1, scared_2, scared_3, scared_4, scared_5, scared_6, scared_7, scared_8, scared_9, scared_10, scared_11, scared_12, scared_13, scared_14, scared_15, ...]
Index: []

[0 rows x 197 columns]

In [20]:
df_5weeks.query("id == 'A4614'")

,id,gender,redcap_event_name,age_child,siq_1,siq_2,siq_3,siq_4,siq_5,siq_6,...,sci_af_ca_31,sci_af_ca_32,sci_af_ca_33,sci_af_ca_34,sci_af_ca_35,sci_af_ca_36,sci_af_ca_37,sci_af_ca_38,sci_af_ca_39,sci_af_ca_40
744,A4614,2.0,control_5weeks_arm_1,NaN,1.0,0.0,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
columns_to_impute = ['gender', 'age_child'] + all_questionarries

In [7]:
for column_name in columns_to_impute:
    merged = impute_from_column(merged, impute_to = column_name, impute_from = f'{column_name}_5weeks')

In [8]:
output_df = pd.concat([df_intake, merged[all_columns]])

In [9]:
output_df

,id,gender,redcap_event_name,age_child,siq_1,siq_2,siq_3,siq_4,siq_5,siq_6,...,sci_af_ca_31,sci_af_ca_32,sci_af_ca_33,sci_af_ca_34,sci_af_ca_35,sci_af_ca_36,sci_af_ca_37,sci_af_ca_38,sci_af_ca_39,sci_af_ca_40
114,O4479,NaN,intake_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,o8540,NaN,intake_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,YH045,NaN,intake_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,EL060,NaN,intake_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,SB070,NaN,intake_arm_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,8120App,2.0,NaN,NaN,4.0,2.0,0.0,0.0,0.0,6.0,...,0.0,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,4.0
320,H4023,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,M5441app,2.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322,R8801,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
323,N7753,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
output_df.to_csv("data_for_research.csv", index=False)