In [6]:
import numpy as np
import pandas as pd

In [5]:
columns = ['c_ssrs_1_life',
    'c_ssrs_2_life',
    'c_ssrs_3_life',
    'c_ssrs_4_life',
    'c_ssrs_5_life',
    'c_ssrs_6_life']


values = [np.random.randint(2, size=6), np.random.randint(2, size=6)]

In [9]:
df = pd.DataFrame(values, columns = columns)
df

,c_ssrs_1_life,c_ssrs_2_life,c_ssrs_3_life,c_ssrs_4_life,c_ssrs_5_life,c_ssrs_6_life
0,0,0,0,1,0,0
1,1,1,1,1,0,0

In [10]:
    c_ssrs_agg = {
    'c_ssrs_1_life': 1,
    'c_ssrs_2_life': 2,
    'c_ssrs_3_life': 3,
    'c_ssrs_4_life': 4,
    'c_ssrs_5_life': 5,
    'c_ssrs_6_life': 6}

In [17]:
(df[c_ssrs_agg.keys()] * c_ssrs_agg.values()).max(axis=1)

0    4
1    4
dtype: int64

In [20]:
[i for i in c_ssrs_agg.keys() if c_ssrs_agg[i] == 6]

['c_ssrs_6_life']