In [1]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11,8)})
sns.set(font_scale=1.2)
import numpy as np
from utils import fix_wrong_record_id, fill_id, format_datetime_columns, delete_redundant_columns
from merge_datasets import split_to_intersection_and_union

In [2]:
df_2022 = pd.read_csv("../original_data/ImmiRiskIPT2022_DATA_2022-12-12_1719.csv", na_values= ' ')
df_2021 = pd.read_csv(r"../original_data/Schneider Depression Clinic Database.csv", na_values= ' ')

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (44,51,53,99,325,366,439,453,459,464,466,501,507,512,514,521,530,532,569,571,580,599,766,771,777,781,786,788,793,795,804,806,826,843,845,854,873,883,918,941,979,991,1002,1040,1045,1047,1049,1051,1053,1054,1080,1096,1119,1122,1126,1127,1131,1132,1133,1134,1136,1137,1138,1141,1142,1144,1161,1183,1186,1237,1239,1259,1261,1262,1263,1269,1270,1271,1272,1384,1387,1389,1405,1408,1411,1415,1432,1434,1435,1436,1442,1443,1444,1445,1499,1568,1569,1572,1573) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Handling 2022

In [3]:
df_2021_1 = fix_wrong_record_id(df_2021, year=2021)
df_2022_1 = fix_wrong_record_id(df_2022, year=2022)

In [4]:
df_2022_2 = fill_id(df_2022_1)

## preparing both datasets

In [5]:
df_2021_3 = format_datetime_columns(df_2021_1)
df_2022_3 = format_datetime_columns(df_2022_2)

In [6]:
df_2021_4, df_2022_4 = delete_redundant_columns(df_2021 = df_2021_3, df_2022 = df_2022_3)

In [ ]:
union, intersection_2021, intersection_2022 = split_to_intersection_and_union(df_2021 = df_2021_4, df_2022=df_2022_4)

## handling contradictions

In [9]:
print(df_2021_1.shape)
print(df_2021_1.drop_duplicates(subset=['id', 'redcap_event_name']).shape)

(1166, 1596)
(1166, 1596)

In [13]:
df_2021[(df_2021['id'] == 'N4125') & (df_2021['redcap_event_name'] == 'intake_arm_1')]

,record_id,id,ID_Merge,ID_2,redcap_event_name,redcap_survey_identifier,opening_timestamp,er_num,complaint___1,complaint___2,...,chameleon_medicine_other_stu,chameleon_notes_stu,chameleon_complete_stu,num,time,a,time99,time99_cin,N99,SCARED_SUM
965,284,N4125,NaN,NaN,intake_arm_1,NaN,08/06/2021,NaN,0.0,0.0,...,NaN,NaN,NaN,899,1,11,1.0,5.0,7,22.0
1064,328,N4125,NaN,NaN,intake_arm_1,NaN,NaN,333594125.0,0.0,0.0,...,NaN,NaN,NaN,1000,1,11,1.0,5.0,7,NaN

In [17]:
print(df_2022_1.shape)
print(df_2022_1.drop_duplicates(subset=['id', 'redcap_event_name']).shape)

(1137, 1621)
(268, 1621)

In [5]:
df_2022['meow'] = df_2022['id'].astype(str) + df_2022['redcap_event_name'].astype(str)
df_2021['meow'] = df_2021['id'].astype(str) + df_2021['redcap_event_name'].astype(str)

In [6]:
df_2022_d = df_2022[df_2022['meow'].isin(df_2021['meow'])]
df_2022_u = df_2022[~df_2022['meow'].isin(df_2021['meow'])]

In [7]:
df_2021_d = df_2021[df_2021['meow'].isin(df_2022['meow'])]
df_2021_u = df_2021[~df_2021['meow'].isin(df_2022['meow'])]

In [8]:
df_combined = pd.merge(df_2021_d, df_2022_d, on=['id', 'redcap_event_name'], how='outer')
print(df_combined.shape)
print(df_combined.drop_duplicates(subset=['id', 'redcap_event_name']).shape)

(163, 3217)
(142, 3217)

In [9]:
print(df_2022.shape)
print(df_2022.drop_duplicates(subset=['id', 'redcap_event_name']).shape)

(1137, 1622)
(441, 1622)

In [10]:
df_2022['id']

0       G8120
1         NaN
2         NaN
3       G8120
4       M0527
        ...
1133    Y9633
1134      NaN
1135    R5907
1136      NaN
1137    I1631
Name: id, Length: 1137, dtype: object

In [24]:
df_2021.shape

(1167, 1597)

In [8]:
pd.merge(df_2021, df_2022, on=['id', 'redcap_event_name'], how='outer').shape

(2162, 3215)