In [17]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11,8)})
sns.set(font_scale=1.2)
import numpy as np
from utils import fix_wrong_record_id, fill_id, format_datetime_columns, delete_redundant_columns
from merge_datasets import split_to_intersection_and_union

In [18]:
df_2022 = pd.read_csv("../original_data/ImmiRiskIPT2022_DATA_2022-12-12_1719.csv", na_values= ' ')
df_2021 = pd.read_csv(r"../original_data/Schneider Depression Clinic Database.csv", na_values= ' ')

# the preparing datasets

In [19]:
df_2021_1 = fix_wrong_record_id(df_2021, year=2021)
df_2022_1 = fix_wrong_record_id(df_2022, year=2022)

##### fill id function - only for 2022

In [20]:
df_2022_2 = fill_id(df_2022_1)

In [21]:
df_2021_3 = format_datetime_columns(df_2021_1)
df_2022_3 = format_datetime_columns(df_2022_2)

In [22]:
df_2021_4, df_2022_4 = delete_redundant_columns(df_2021 = df_2021_3, df_2022 = df_2022_3)

# merging the datasets

In [23]:
union, intersection_2021, intersection_2022 = split_to_intersection_and_union(df_2021 = df_2021_4, df_2022=df_2022_4)

# validate
# intersection_2021.duplicated(subset=['redcap_event_name', 'id']).any()

## handling contradictions

In [24]:

result = pd.merge(intersection_2021, intersection_2022, how="inner", on=['redcap_event_name', 'id'])
# validate
# result.shape
# intersection_2022.shape

In [25]:
pd.Series(intersection_2022.columns).to_csv('columns_list.csv', index=False)

In [26]:
shared_columns = [col for col in intersection_2022.columns if col in intersection_2021.columns]
unique_2022_columns = [col for col in intersection_2022.columns if col not in intersection_2021.columns]
# validate
# len(shared_columns) == intersection_2021.shape[1]

In [48]:
listy = ['with_who_m___1', 'with_who_m___2', 'with_who_m___4', 'with_who_m___7']
list_A = ['chameleon_psychotherapy_stu', 'chameleon_psychotherapy_2_stu___5', 'chameleon_medicine_stu', 'chameleon_medicine_2_stu___3']
list_B = ['chameleon_ideation_stu', 'emergency_stu', 'chameleon_medicine_stu' , 'treatment_end_stu', 'emergency_stu','treatment_end_stu']

for meow in list_B:
    x = intersection_2021[meow].unique()
    x2 = intersection_2022[meow].unique()
    #print(meow, '\n',(x == [1.0, 2.0]), '\n', (x == [0.0, 1.0]), '\n')
    print(meow, '\n2021 =',x, '\n2022 =',x2, '\n\n')

chameleon_ideation_stu
2021 = [nan  2.  1.]
2022 = [ 2.  1. nan  3.]


emergency_stu
2021 = [nan  2.  1.]
2022 = [ 2. nan]


chameleon_medicine_stu
2021 = [nan  2.  1.  0.]
2022 = [ 1. nan  2.]


treatment_end_stu
2021 = [nan  1.  2.]
2022 = [ 2.  1. nan]


emergency_stu
2021 = [nan  2.  1.]
2022 = [ 2. nan]


treatment_end_stu
2021 = [nan  1.  2.]
2022 = [ 2.  1. nan]

In [138]:
intersection_2022['opening_psychothe'].unique()

array([ 1., nan,  2.])

In [38]:
intersection_2022[intersection_2022['id'] == 'S7645'][['id','group___1', 'group___2', 'group___3']]

        id  group___1  group___2  group___3
287  S7645        1.0        1.0        0.0
293  S7645        NaN        NaN        NaN
294  S7645        NaN        NaN        NaN
295  S7645        NaN        NaN        NaN

In [39]:
intersection_2021[intersection_2021['id'] == 'S7645'][['id','group___1', 'group___2', 'group___3']]

        id  group___1  group___2  group___3
398  S7645        0.0        1.0        0.0
400  S7645        NaN        NaN        NaN
401  S7645        NaN        NaN        NaN
402  S7645        NaN        NaN        NaN