In [1]:
# import resources
%matplotlib inline


import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import dtale
import pingouin as pg

In [2]:
#df = pd.read_excel("אינטייק תחילת טיפול 210423.xlsx")
df = pd.read_excel("אינטייק תחילת טיפול 210423 - עם השלמות.xlsx")

In [3]:
print(*enumerate(df.columns), sep='\n')

rename = {
    df.columns[0] : 'id',
    df.columns[1]: 'intake_date',
    df.columns[2]: 'treatment_start_date',
    df.columns[3]: 'treatment_type',
}

(0, 'Unnamed: 0')
(1, 'תאריך אינטייק\nקליני')
(2, 'תאריך תחילת טיפול במרפאה')
(3, 'סוג טיפול (IPT מקוצר, IPT רגיל, TAU)')

In [4]:
df = df.rename(rename, axis=1)
print(*enumerate(df.columns), sep='\n')
print('\n', df.dtypes)

(0, 'id')
(1, 'intake_date')
(2, 'treatment_start_date')
(3, 'treatment_type')

 id                              object
intake_date             datetime64[ns]
treatment_start_date    datetime64[ns]
treatment_type                  object
dtype: object

In [5]:
treatment_types = list(df.treatment_type.unique())
rename_types = {
    treatment_types[1]: 'IPT-SCI', #'IPT מקוצר'
    treatment_types[2]: 'TAU', #TAU
    treatment_types[3]: 'TAU', # 'IPT רגיל'
    treatment_types[4]: 'IPT-SCI', #'IPT SCI'
    treatment_types[5]: 'IPT-SCI', #'מקוצר'
    treatment_types[6]: 'IPT-SCI', #'ipt מקוצר'
}

df['treatment_type_renamed'] = df.treatment_type.map(rename_types)

In [6]:
df = df.dropna(subset = ['treatment_start_date'], how='any')
df['treatment_start_year'] = df['treatment_start_date'].dt.year

In [9]:
df.to_csv("data_for_rupin_conference.csv")

In [7]:
df.query("treatment_start_year < 2023")

,id,intake_date,treatment_start_date,treatment_type,treatment_type_renamed,treatment_start_year
1,204,NaT,2019-04-16,IPT מקוצר,IPT-SCI,2019
2,224,NaT,2019-04-30,TAU,TAU,2019
3,226,NaT,2020-05-12,IPT מקוצר,IPT-SCI,2020
4,654,NaT,2020-02-07,IPT מקוצר,IPT-SCI,2020
5,994,NaT,2020-02-18,TAU,TAU,2020
...,...,...,...,...,...,...
452,Y9606,2020-10-27,2020-12-08,TAU,TAU,2020
454,Y9759,2021-12-08,2022-01-06,IPT רגיל,TAU,2022
455,Y9804,2019-06-11,2019-12-03,IPT מקוצר,IPT-SCI,2019
458,Z7237,2022-04-04,2022-11-13,IPT מקוצר,IPT-SCI,2022
459,Z8409,2019-03-19,2019-05-31,IPT מקוצר,IPT-SCI,2019

In [8]:
d = dtale.show(df.query("treatment_start_year < 2023"))
d.open_browser()