In [1]:
import pandas as pd
import re
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc={'figure.figsize':(11,8)})
sns.set(font_scale=1.2)
import numpy as np

record_id = 85

id = A6735

In [2]:
df = pd.read_csv("ImmiRiskIPT2022_DATA_2022-12-12_1719.csv", na_values= ' ')
print(df.shape)#.drop_duplicates(['id', 'redcap_event_name']).shape)
df2 = pd.read_csv(r"../Ver4/code/Schneider Depression Clinic Database.csv", na_values= ' ')
print(df2.drop_duplicates(['id', 'redcap_event_name']).shape)

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (44,51,53,99,325,366,439,453,459,464,466,501,507,512,514,521,530,532,569,571,580,599,766,771,777,781,786,788,793,795,804,806,826,843,845,854,873,883,918,941,979,991,1002,1040,1045,1047,1049,1051,1053,1054,1080,1096,1119,1122,1126,1127,1131,1132,1133,1134,1136,1137,1138,1141,1142,1144,1161,1183,1186,1237,1239,1259,1261,1262,1263,1269,1270,1271,1272,1384,1387,1389,1405,1408,1411,1415,1432,1434,1435,1436,1442,1443,1444,1445,1499,1568,1569,1572,1573) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1138, 1621)
(1166, 1596)

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [52]:
mult = [i for i in df.columns if i in df2.columns if not (i.endswith('complete') or i.startswith('diagnosis') or i.startswith('complaint') or i.startswith('timestamp'))]

In [53]:
y = df.dropna(subset=['id'])

In [54]:
def mew(record_id):
    ID = None
    dd = y[y.record_id == record_id]['id']
    if dd.empty:
        print(record_id)
    else:
        ID = dd.iloc[0]
    return ID

In [55]:
df['id'] = df.record_id.apply(mew)

85
550

In [66]:
df[df['id'] == 550]

Empty DataFrame
Columns: [record_id, redcap_event_name, redcap_survey_identifier, opening_timestamp, id, er_num, complaint___1, complaint___2, complaint___3, complaint___4, complaint___5, complaint___6, complaint_other, complaint_date, diagnosis___1, diagnosis___2, diagnosis___3, diagnosis___4, diagnosis___5, diagnosis___6, diagnosis___7, diagnosis___8, diagnosis___9, diagnosis___10, diagnosis___11, diagnosis___12, diagnosis___13, diagnosis___14, diagnosis_other, opening_psychothe, opening_psychothe_2___1, opening_psychothe_2___2, opening_psychothe_2___3, opening_psychothe_2___4, opening_psychothe_2___5, opening_psychothe_2___6, opening_psychothe_2___7, opening_psychothe_3, opening_medicine, opening_medicine_2___1, opening_medicine_2___2, opening_medicine_2___3, opening_medicine_2___4, opening_medicine_2___5, opening_medicine_3, iat_done, iat_done_no, group___1, group___2, group___3, consent, consent_no, opening_complete, covid19_timestamp, covid_1___1, covid_1___2, covid_1___3, covid_1___4, covid_2, covid_3___1, covid_3___2, covid_3___3, covid_3___4, covid_3___5, covid_3___6, covid_3___7, covid_3___8, covid_4, covid_5, covid_6, covid_7, covid_8, covid19_complete, opening_child_pre_timestamp, age_child_pre, gender, opening_child_pre_complete, marisscisf_timestamp, age_child, maris_sci_sf_1, maris_sci_sf_2, maris_sci_sf_3, maris_sci_sf_4, maris_sci_sf_5, maris_sci_sf_6, maris_sci_sf_7, maris_sci_sf_8, maris_sci_sf_9, marisscisf_complete, marissoqsf_timestamp, maris_soq_sf_1, maris_soq_sf_2, maris_soq_sf_3, maris_soq_sf_4, maris_soq_sf_5, maris_soq_sf_6, maris_soq_sf_7, maris_soq_sf_8, marissoqsf_complete, cssrs_intake_timestamp, ...]
Index: []

[0 rows x 1621 columns]

In [56]:
ss = pd.concat([df,df2])

In [57]:
ss = ss[ss.duplicated(subset=['id', 'redcap_event_name'], keep=False)]

In [58]:
ss = ss.sort_values(['id', 'redcap_event_name']).reset_index().drop('index', axis=1)

In [59]:
df['id'].isna().sum()

2

In [60]:
df2['id'].isna().sum()

0

In [61]:
def meow(s2):
    diff = []
    
    for i in mult:
        if not s2[i].isna().any():
            if s2.iloc[1][i] != s2.iloc[0][i]:
                diff.append(i)
    return diff

In [62]:
diff_dicts = []

In [63]:
for i in ss['id'].unique():
    for j in ss.redcap_event_name.unique():
        if not ss[(ss['id'] == i) & (ss.redcap_event_name == j)].empty:
            diff = meow(ss[(ss['id'] == i) & (ss.redcap_event_name == j)])
            if len(diff):
                diff_dicts.append({'id': i, 'redcap_event_name':j, 'differences': diff})

In [64]:
diffs = pd.DataFrame(diff_dicts)

In [71]:
df2[(df2['id'] == 'Y9804') & (df2.redcap_event_name == 'intake_arm_1')]['group___1']

749    1.0
Name: group___1, dtype: float64

In [72]:
df[(df['id'] == 'Y9804') & (df.redcap_event_name == 'intake_arm_1')]['group___1']

519    0.0
Name: group___1, dtype: float64

In [67]:
diffs

,id,redcap_event_name,differences
0,8120App,intake_arm_1,"[opening_psychothe_2___4, opening_medicine_2___1]"
1,8120App,control_3month_arm_1,"[visit_date_stu, chameleon_ideation_stu, chame..."
2,A0875,intake_arm_1,"[opening_timestamp, opening_psychothe, opening..."
3,A1066,intake_arm_1,"[opening_psychothe_2___3, opening_medicine_2__..."
4,A1651,intake_arm_1,"[opening_psychothe_2___3, opening_psychothe_2_..."
...,...,...,...
189,Y8189,intake_arm_1,"[opening_psychothe_2___4, opening_psychothe_3,..."
190,Y8189,5th_session_arm_1,"[treatment_end_2_stu, visit_date_stu]"
191,Y9606,intake_arm_1,"[opening_psychothe_2___2, opening_medicine_2__..."
192,Y9804,followup_3month_arm_1,[treatment_end_2_stu]
193,Y9804,intake_arm_1,"[group___1, with_who_m___1, with_who_f___1]"

In [16]:
diffs.to_csv('records_with_differences_between_redcups_recordings.csv', index=False)