In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("DeppClinic_patient_data.csv")

In [5]:

group_names = {
    '0': 'invalid',
    '1': 'ipt', # חירום
    '2' : 'tau', # רגיל
    '3': 'control' # מינימלית
}
df = df[df['age_child_pre'] < 12.5]

In [6]:
def rename_groups(df, group_names):
    df['group'] = '0'
    df.loc[df['group___1'] == 1, 'group'] = '1'
    df.loc[df['group___2'] == 1, 'group'] = '2'
    df.loc[df['group___3'] == 1, 'group'] = '3'
    df['group'] = df['group'].map(group_names)
    return df


df = rename_groups(df, group_names)
df = df[df['group'].isin(['ipt', 'control'])]

In [8]:
df.groupby(['group'])['suicidal_ideation'].value_counts()

group    suicidal_ideation
control  0                    33
         1                    22
ipt      1                    24
         0                    16
Name: count, dtype: int64

In [10]:
df[['id', 'suicidal_ideation']]

         id  suicidal_ideation
10    i6535                  0
11   N4125‏                  0
15    E5541                  1
21    N7245                  1
24    H0740                  1
..      ...                ...
508   A1651                  1
511   T8560                  1
515   A3781                  0
522   N7753                  0
526   T4075                  1

[95 rows x 2 columns]