In [3]:
import sys
sys.path.append(r"../../utils")

import numpy as np 
import pandas as pd
from questions_columns import all_questionarries, sci_af_ca,  scs_clin, sci_mother
from statsmodels.imputation import mice
import missingno

In [4]:
df_base = pd.read_csv(r'../../creating_the_clinic_dataset/preprocessed_data/merged_2021_and_2022.csv', na_values = ' ')
additional_columns = ['id']#['id', 'gender', 'redcap_event_name', 'age_child_pre']
df = df_base[df_base.redcap_event_name == 'intake_arm_1'][additional_columns + sci_af_ca]
#df.to_csv("data_for_sci_af_ca_CFA.csv", index=False)

C:\Users\nogur\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,44,50,73,84,309,437,442,443,450,457,486,502,540,549,568,728,733,745,747,752,763,801,810,829,882,883,884,885,886,887,888,889,890,891,892,951,989,994,1000,1015,1045,1065,1066,1070,1071,1072,1073,1075,1076,1077,1080,1081,1098,1103,1119,1121,1172,1174,1193,1195,1196,1197,1203,1204,1205,1206,1358,1360,1361,1362,1368,1369,1370,1371,1486,1492,1493,1496,1497,1498,1499,1508,1516,1532,1535,1546) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
df_base.query("id == '204'")

,record_id,redcap_event_name,redcap_survey_identifier,opening_timestamp,id,er_num,complaint___1,complaint___2,complaint___3,complaint___4,...,c_ssrs_fu_attemp_6_clin,c_ssrs_fu_attemp_6_2_clin,c_ssrs_fu_attemp_7_clin,c_ssrs_fu_attemp_8_clin,c_ssrs_fu_done_clin,c_ssrs_fu_done_2_clin,inattentive_child,inattentive_mother,inattentive_father,original_dataset
1548,1003,pre_treatment_arm_1,NaN,2019-04-16 00:00:00,204,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,2021
1549,1003,5th_session_arm_1,NaN,2019-06-03 00:00:00,204,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,2021

In [10]:
df.shape[0] == df['id'].nunique()

True

In [11]:
df = df.dropna(thresh=0.5, subset = sci_af_ca)

In [5]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Load the dataset with missing values
data = df[sci_af_ca]
# Create the IterativeImputer object and fit the imputation model
imputer = IterativeImputer(max_iter=20)
imputed_data = imputer.fit_transform(data)

In [6]:
df[sci_af_ca] = imputed_data

In [7]:
df.to_csv("data_for_research.csv", index=False)